#logIn2020 {
  background: url(../img/textura.png) #fafafa;
  width: 100%;
  height: 500px;
  background-size: cover;
}

.login-container {
  max-width: 310px;
  border-radius: 5px;
  width: 85%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  display: flex;
  padding-bottom: 40px;
  -webkit-box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.23);
  box-shadow: -1px 2px 7px 0px rgba(0, 0, 0, 0.23);
}

.login-container div.col:first-child {
  width: 100%;
  padding: 10%;
  position: relative;
}
input[type="text"],
input[type="password"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid #ccc;
  color: #777;
  font-size: 12px;
  padding: 8px 0;
  box-sizing: border-box;
  outline: none;
  width: 100%;
  text-align: left;
  text-indent: 5px;
  background-size: 12px;
  background-position: left center;
}

.login-container .col img {
  width: 100%;
  height: auto;
}
.logo-itk {
  max-width: 188px;
  height: 45px;
  margin: auto;
  background: url(../img/logo_itk_login.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.btn-login {
  width: 100%;
  background: #006bcf;
  color: #fff;
  border-radius: 5px;
  padding: 15px 11px;
  cursor: pointer;
  font-size: 14px;
}
.btn-login a{
  color: #fafafa;
}
.btn-login-gr {
  width: 100%;
  background: #fff;
  color: #777;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 14px 11px;
  cursor: pointer;
  font-size: 14px;
}
.white-bg {
  background: #fff;
  margin: 8px 0;
  border-bottom: 1px solid #ccc;
  margin-top: 45px;
}
.white-bg input[type="text"],
.white-bg input[type="password"] {
  border: none;
  width: 90%;
}
.white-bg ::placeholder {
  font-size: 13px;
}
.white-bg i {
  font-size: 13px;
}
.eye {
  width: 10px;
  height: 5px;
  position: absolute;
  top: 2px;
  right: 10px;
  font-size: 13px;
  cursor: pointer;
}
.passForgotten {
  text-align: center;
  margin-top: 64px;
  cursor: pointer;
}
.passForgotten:hover {
  color: #001f42;
}

.line-error {
  border-bottom: 1px solid #cf0038 !important;
}

.txt-error {
  color: #cf0038;
  text-align: center;
  font-size: 13px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 36px;
}
#part-2 {
  display: none;
}

.btn {
  margin: 10px 0;
}
